.contact-main {
  width: 100%;
}

.basic-contact {
  margin-left: 5%;
  margin-right: 5%;
}

.contact-heading-div {
  display: flex;
}

.blog-heading-div {
  display: flex;
}

.address-heading-div {
  display: flex;
  margin-top: 80px;
}

.blog-heading-div>* {
  flex: 1;
}

.contact-heading-div>* {
  flex: 1;
}

.address-heading-div>* {
  flex: 1;
}

.contact-heading-img-div {
  margin-left: 13%;
  margin-bottom: 8%;
  margin-top: 4%;
}

.profile-pic {
  box-shadow: 0 5px 15px #353535;
  border-radius: 4px;
}

.blog-heading-img-div {
  align-items: center;
  justify-content: center;
}

.contact-heading-text-div {
  text-align: center;
}

.blog-heading-text-div {
  text-align: center;
}

.address-heading-text-div {
  text-align: center;
}

.contact-heading-img-div>* {
  max-width: 100%;
  height: auto;
}

.blog-heading-img-div>* {
  max-width: 100%;
  height: auto;
}

.contact-heading-text {
  font-size: 56px;
  font-weight: 400;
  font-family: "Be Vietnam Pro", sans-serif;
  line-height: 1.1;
  text-align: center;
  margin-top: 60px;
}

.blog-heading-text {
  font-size: 56px;
  font-weight: 400;
  font-family: "Be Vietnam Pro", sans-serif;
  line-height: 1.1;
  text-align: center;
  margin-top: 40px;
}

.address-heading-text {
  font-size: 30px;
  font-family: "Be Vietnam Pro", sans-serif;
  text-align: center;
  margin-bottom: 10px;
}

.contact-header-detail-text {
  font-size: 20px;
  line-height: 30px;
  margin-top: 0px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: "Be Vietnam Pro", sans-serif;
}

.blog-header-detail-text {
  font-size: 20px;
  line-height: 30px;
  margin-top: 0px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: "Be Vietnam Pro", sans-serif;
}

.general-btn-div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.blogsite-btn-div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.address-btn-div {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 0;
}

.general-btn {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  padding: 15px 15px;
  margin-top: 25px;
  border-radius: 4px;
  border-width: 0px;
  width: 200px;
  height: 50px;
  font-weight: bold;
  font-family: "Google Sans Regular";
  font-size: 17px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

@media (max-width: 1380px) {
  .contact-heading-text {
    font-size: 50px;
    margin-top: 60px;
  }

  .blog-heading-text {
    font-size: 50px;
    margin-top: 40px;
  }
}

@media (max-width: 768px) {
  .contact-heading-text {
    font-size: 30px;
    margin-top: 0px;
  }

  .blog-heading-text {
    font-size: 30px;
    margin-top: 0px;
  }

  .contact-heading-img-div {
    margin-left: auto;
    margin-right: auto;
  }

  .address-heading-text {
    font-size: 20px;
  }

  .blog-heading-div {
    flex-direction: column-reverse;
    margin-top: 60px;
  }

  .address-heading-div {
    flex-direction: column;
    margin-top: 60px;
  }

  .blog-heading-text-div {
    margin-top: 40px;
  }

  .address-heading-text-div {
    margin-top: 40px;
  }

  .contact-heading-div {
    flex-direction: column;
  }

  .contact-header-detail-text {
    font-size: 16px;
    margin-left: 0px;
    margin-right: 0px;
    line-height: normal;
    text-align: center;
  }

  .blog-header-detail-text {
    font-size: 16px;
    margin-left: 0px;
    margin-right: 0px;
    line-height: normal;
    text-align: center;
  }
}

/* Custom Slider Container */
.unlock-container {
  margin-top: 30px;
  position: relative;
  width: 300px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
}

/* Invisible Input on top */
.unlock-slider-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 10;
  cursor: grab;
  margin: 0;
}

.unlock-slider-input:active {
  cursor: grabbing;
}

/* Visual Track */
.custom-slider-track {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 40px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  overflow: visible;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2);
}

.track-fill {
  height: 100%;
  background: var(--accent-color, #4facfe);
  border-radius: 20px;
  opacity: 0.3;
  pointer-events: none;
}

.track-destination {
  position: absolute;
  right: 15px;
  font-size: 24px;
  z-index: 1;
  pointer-events: none;
  animation: bounce 2s infinite;
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }
}

.custom-thumb {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transform: translateY(-50%) rotate(90deg);
  pointer-events: none;
  transition: transform 0.1s;
  z-index: 5;
}

.unlock-slider-input:active+.custom-slider-track .custom-thumb {
  transform: translateY(-50%) rotate(90deg) scale(1.1);
}

.slide-text {
  position: absolute;
  width: 100%;
  text-align: center;
  pointer-events: none;
  font-family: "Google Sans Regular";
  font-size: 14px;
  color: inherit;
  opacity: 0.8;
  font-weight: 500;
  z-index: 2;
  padding-left: 20px;
}

.unlock-slider {
  -webkit-appearance: none;
  width: 100%;
  max-width: 300px;
  height: 50px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 25px;
  outline: none;
  overflow: hidden;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  cursor: grab;
  border: 1px solid rgba(255, 255, 255, 0.2);
  position: relative;
}

.unlock-slider:active {
  cursor: grabbing;
}

.unlock-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #fff;
  cursor: grab;
  /* Use box-shadow to fill the track behind the thumb */
  box-shadow: -407px 0 0 400px var(--accent-color, #4facfe);
  border: 2px solid rgba(0, 0, 0, 0.1);
  transition: transform 0.1s;
}

.unlock-slider::-moz-range-thumb {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #fff;
  cursor: grab;
  box-shadow: -407px 0 0 400px var(--accent-color, #4facfe);
  border: 2px solid rgba(0, 0, 0, 0.1);
}

.unlock-message {
  font-family: "Google Sans Regular";
  font-size: 16px;
  color: inherit;
  opacity: 0.9;
  font-weight: 500;
  animation: pulse-text 2s infinite;
}

@keyframes pulse-text {

  0%,
  100% {
    opacity: 0.6;
  }

  50% {
    opacity: 1;
  }
}

.unlocked-btn-container {
  animation: pop-in 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes pop-in {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}